@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.navbar_container{
    width: 100%;
    height: 84px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight : 700;
    padding-left : 3.14%;
    font-size : 36px;
}

.navbar_person_info{
    padding-right : 3.14%;
    display: flex;
    align-items: center;
    /* width : fit-content; */
}

.navbar_person_name{
    color : #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight : 700;
    font-size: 20px;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.navbar_person_image{
    width : 44px;
    height : 44px;
    margin-left : 10%;
    border-radius: 50%;
}